*{margin: 0;padding: 0;}
body{background: #f5f5f5 ;}
a{color: #666; text-decoration: none;}
a:hover{color: orange;}

.header{height: 110px;width: 1220px;margin: 0 auto;}
.header img{width: 189px;height: 100px;float: left;padding-right: 15px;}
.header .bind-phone{float: left;color: #333;background: #fefff1;border: 1px solid #fecd66;line-height: 16px;padding: 4px 6px;font-size: 12px;margin-top: 40px;}

body, button, input, select, textarea {font: 12px/1.5 arial,tahoma,\5b8b\4f53;}
.main123{width: 100%;height: 600px;position: relative;}
.main123 img{width: 100%;height: 600px;float: right;display: inline-block;}
.main123 .login-form{width: 360px;height: 410px;background: white;position: absolute;top:100px;right: 450px;float: right;}
.main123 .login-form .login-tab{height: 50px;line-height: 20px;font-size: 16px;overflow: hidden;border-bottom: 1px solid #eee;color: black;}
.main123 .login-form .login-tab .tab-item{position: relative;float: left;height: 100%;width: 50%;text-decoration: none;text-align: center;}
.main123 .login-form .login-tab .tab-item span{display: block;border-right: 1px solid #eee;margin-top: 15px;}
.main123 .login-form .login-tab .tab-item i{position: absolute;width: 70px;height: 4px;background: #f60;bottom: -1px;left: 50%;margin-left: -35px;}

.main123 .login-form .username-login{margin-top: 40px;margin-left: 24px;width: 312px;}
.main123 .login-form .username-login .username-box{position: relative;clear: both;margin-bottom: 20px;}
.main123 .login-form .username-login .username-box .input-box{position: relative;border: 1px solid #ddd;color: #999;padding: 0 32px 0 36px;height: 36px;overflow: hidden;}
.main123 .login-form .username-login .username-box .input-box label{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding-left: 36px;line-height: 36px;
    font-size: 14px;color: #ccc;cursor: text;background: #fff;}
.main123 .login-form .username-login .username-box .input-box .icon{width: 36px;height: 36px;position: absolute;top: 0;left: 0;}
.main123 .login-form .username-login .username-box .input-box .icon {background: url(../images/sprite.png) -123px -67px no-repeat;}
.clear{clear: both;}

.main123 .login-form .username-login .password-box{position: relative;clear: both;margin-bottom: 20px;}
.main123 .login-form .username-login .password-box .input-box{position: relative;border: 1px solid #ddd;color: #999;padding: 0 32px 0 36px;height: 36px;overflow: hidden;}
.main123 .login-form .username-login .password-box .input-box label{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding-left: 36px;line-height: 36px;
    font-size: 14px;color: #ccc;cursor: text;background: #fff;}
.main123 .login-form .username-login .password-box .input-box .icon{width: 36px;height: 36px;position: absolute;top: 0;left: 0;}
.main123 .login-form .username-login .password-box .input-box .icon{background: url(../images/sprite.png) 0 -108px no-repeat;}
.clear {clear: both;}

.main123 .login-form .username-login .login-help {padding-top: 10px;}
.main123 .login-form .login-help {line-height: 35px;height: 35px;}
.main123 .login-form .username-login .login-help i{background: url(../images/sprite.png) -21px -149px no-repeat;}
.main123 .login-form .login-help .login-switch i {display: inline-block;width: 13px;height: 16px;margin-right: 5px;vertical-align: -3px;}

.main123 .login-form .login-help .forget-password {float: right;}
.main123 .login-form .login-submit {display: block;width: 310px;line-height: 40px;margin: 0 auto;background: #f60;border-radius: 2px;font-size: 20px;font-weight: 700;text-align: center;   color: #fff;}

.main123 .login-form .free-reg{text-align: center;margin: 12px 0 35px;}

.main123 .login-form .bind-login {position: relative;width: 310px;margin: 0 auto;border-top: 1px solid #ddd;padding: 19px 0 17px;}
.main123 .login-form .bind-login .title {position: absolute;top: -9px;left: 50%;margin-left: -64px;color: #999;width: 128px;background: #fff;text-align: center;}
.main123 .login-form .bind-login .common .qq {padding-left: 0;}
.main123 .login-form .bind-login .common a {float: left;padding: 0 7px;border-right: 1px solid #dedcd5;line-height: 16px;}
.main123 .login-form .bind-login .common .qq i {background: url(../images/sprite.png) -140px -108px no-repeat;}
.main123 .login-form .bind-login .common a i {float: left;width: 16px;height: 16px;margin-right: 5px;}
.main123 .login-form .bind-login .common a {float: left;padding: 0 7px;border-right: 1px solid #dedcd5;line-height: 16px;}
.main123 .login-form .bind-login .common .weixin i {background: url(../images/sprite.png) -90px -27px no-repeat;}
.main123 .login-form .bind-login .common a {float: left;padding: 0 7px;border-right: 1px solid #dedcd5;line-height: 16px;}
.main123 .login-form .bind-login .common .yifubao i {background: url(../images/sprite.png) -119px -108px no-repeat;}
.main123 .login-form .bind-login .common a {float: left;padding: 0 7px;border-right: 1px solid #dedcd5;line-height: 16px;}
.main123 .login-form .bind-login .common .weibo i {background: url(../images/sprite.png) 0 -149px no-repeat;}


.ng-s-f-con{width: 100%;height: 185px;background: #FFF;padding-top: 15px;text-align: center;margin: 0 auto;line-height: 25px;}
.ng-s-f-con a{display: inline-block;margin-right: 8px;}
.ng-s-f-con .ng-copyright{line-height: 25px;height: 25px;color: #999;margin-top: 0;}
.ng-s-f-con .ng-authentication a{display: inline-block;margin-right: 8px;}